
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(149, 145, 145);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 19, 19);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(225, 242, 245);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(44, 62, 129);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgb(33, 44, 109);
}

button:active{
    background-color: rgb(22, 33, 79);
}

.operator-btn{
    background-color: rgba(203, 103, 36, 0.767);
}
.operator-btn:hover{
    background-color: rgb(231, 131, 64);
}
.operator-btn:active{
    background-color: rgb(111, 63, 32);
}